.addSet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.addSet div {
  padding: 5px;
}

.select-border,
input,
textarea {
  width: 100%;
 
  line-height: 2rem;
}

.form-field {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button-add {
  width: 45%;
}

.input-border {
  width: 100%;

}

.addSet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-color: white;
  top: 10vh;
  left: center;
  border: 1px solid #3f51b5;
  margin: 10px;
  border-radius: 5px;
  width: 340px;
  height: 400px;
}

.russian,
.english,
.ukrainian {
  display: none;
}

.mat-form-field-infix{
  height: 2rem;
}